<div class="m-3 mt-3">
  <div class="card">
    <div class="card-header " style="color: grey ">
      <h2> Factores Abióticos</h2>
    </div>
    <div *ngIf="estaciones && estaciones.length == 0" style="margin: 20px;">
      <h3>El usuario no tiene estaciones actualmente asignadas </h3>
    </div>
    <mat-tab-group *ngIf="estaciones != null" (selectedTabChange)="changeTab()">
      <mat-tab *ngFor="let estacion of estaciones" [label]="estacion.nombre">
        <br>
        <div class="container" *ngIf="estacion.sensores!= null">
          <div class="row" >
            <div class="col-sm-2" *ngFor="let sensor of estacion.sensores;let i = index;" style=" margin-top: 10px;">
              <div class="card" (click)="change(sensor.id_sensor)">
                <div class="card-header text-center"> <b>{{ sensor.tipo}}</b></div>
                <div class="card-body">
                  <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="this.datas[i].data[this.datas[i].data.length - 1]" [animated]="true"
                    [animationDuration]="0.5">
                  </mwl-gauge>
                  <div class="row text-center">
                     <p> {{sensor.escala }}</p>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <p> Modelo: {{ sensor.modelo}}</p>
                </div>
              </div>
            </div>

          </div>

          <hr *ngIf="display">
        </div>
        <div *ngIf="estacion.sensores.length == 0" style="margin: 20px;">
          <h3>La estación no tiene sensores registrados</h3>
        </div>


      </mat-tab>

    </mat-tab-group>

    <div class="container" *ngIf="display">
      <div class="row">
        <canvas baseChart class="chart" [data]="lineChartData" [options]="lineChartOptions"
          [type]="lineChartType" height="90px"></canvas>
      </div>
    </div>

  </div>

</div>
