<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
     Sistema de Monitoreo y Control de factores Abioticos
  </a>
</nav>
<div class="container">
  <div class="row justify-content-center">
      <div class="col-lg-5">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header"><h3 class="text-center font-weight-light my-4">Inicar Sesión</h3></div>
              <div class="card-body">
                  <form [formGroup]="formularioLogin" (ngSubmit)="submitLogin()">
                      <div class="form-floating mb-3">
                        <mat-form-field appearance="outline" style="width: 100% ;">
                          <mat-label>Correo</mat-label>
                          <input matInput type="email" placeholder="Email" formControlName="correo" required>
                        </mat-form-field>
                      </div>
                      <div class="form-floating mb-3">
                          <mat-form-field appearance="outline" style="width: 100% ;">
                            <mat-label>Contraseña</mat-label>
                            <input matInput type="password"  formControlName="clave" required>
                          </mat-form-field>
                      </div>
                      <div class="form-check mb-3">
                          <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                          <label class="form-check-label" for="inputRememberPassword">Recordar</label>
                      </div>
                      <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                          <a class=>Forgot Password?</a>
                          <button type="submit" class="btn btn-primary" >Ingresar</button>
                      </div>
                  </form>
              </div>
              <div class="card-footer text-center py-3">

              </div>
          </div>
      </div>
  </div>
</div>
<p-toast position="bottom-center"></p-toast>
<app-footer ></app-footer>
