<div class="m-3 mt-3">
  <div class="card">
    <div class="card-header " style="color: grey ">
      <h2> Lista de Sensores</h2>
    </div>
    <p-table [value]="lista" dataKey="nombre">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <th pSortableColumn="nombre">Nombre Estación<p-sortIcon field="nombre"></p-sortIcon></th>
          <th pSortableColumn="ubicacion">Ubicación<p-sortIcon field="ubicacion"></p-sortIcon></th>
          <th pSortableColumn="id_estacion">Conectados <p-sortIcon field="category"></p-sortIcon></th>
          <th pSortableColumn="">Acciones<p-sortIcon></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lista let-expanded="expanded">
        <tr>
          <td>
            <button [pRowToggler]="lista" class="btn" pTooltip="Expandir" tooltipPosition="top">
              <i [class]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">

              </i>
            </button>
          </td>
          <td>{{lista.nombre}}</td>
          <td>{{lista.ubicacion }}</td>
          <td>{{lista.sensores.length }}</td>
          <td>
            <div class="row">
              <div class="col"><button (click)="add(lista.id_estacion)" class="btn btn-success" pTooltip="Agregar"
                  tooltipPosition="top"> <i class="pi pi-plus-circle"></i></button></div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-ordes>
        <tr>
          <td colspan="5">
            <div class="p-3">
              <p-table [value]="ordes.sensores" dataKey="id_sensor">
                <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="modelo">Modelo <p-sortIcon field="customer"></p-sortIcon></th>
          <th pSortableColumn="tipo"> Tipo<p-sortIcon field="date"></p-sortIcon></th>
          <th pSortableColumn="descripcion">Descripción<p-sortIcon field="amount"></p-sortIcon></th>
          <th pSortableColumn="escala">Escala <p-sortIcon field="status"></p-sortIcon></th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{order.modelo}}</td>
          <td>{{order.tipo}}</td>
          <td>{{order.descripcion}}</td>
          <td>{{order.escala}}</td>
          <td class="row">
            <div class="col">
              <button class="btn btn-danger" (click)="eliminarSensor(order.id_sensor)" pTooltip="Eliminar"
                tooltipPosition="top"> <i class="pi pi-trash"></i></button>
            </div>
            <div class="col">
              <button class="btn btn-warning text-white" (click)="editar(order.id_sensor)"><i class="pi pi-pencil"
                  pTooltip="Editar" tooltipPosition="top"></i></button>
            </div>

          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">No hay sensores actualmente conectados</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </td>
  </tr>
  </ng-template>
  </p-table>
</div>
</div>

<p-dialog class="m-3 mt-3" [(visible)]="display" header="Agregar Sensor" [breakpoints]="{'960px': '75vw'}"
  [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" [modal]="true">
  <form class="mb-4" [formGroup]="formulario">
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Tipo</h2>
          <div class="col-sm-10">
            <mat-form-field appearance="outline" style="width: 100% ;">
              <mat-label>Ingrese tipo de sensor</mat-label>
              <input matInput placeholder="Tipo" formControlName="tipo" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <h2>Modelo</h2>
          <div class="col-sm-10">
            <mat-form-field appearance="outline" style="width: 100% ;">
              <mat-label>Ingrese el modelo</mat-label>
              <input matInput placeholder="Modelo" formControlName="modelo" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <h2>Escala</h2>
          <div class="col-sm-10">
            <mat-form-field appearance="outline" style="width: 100% ;">
              <mat-label>Ingrese la escala de medición</mat-label>
              <input matInput placeholder="Escala de medición " formControlName="escala" required>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <h2>Descripción</h2>
        <div class="col-sm-12">
          <mat-form-field appearance="outline" style="width: 100% ;">
            <mat-label>Ingrese una descripción</mat-label>
            <textarea matInput placeholder="Breve descripción del sensor" formControlName="descripcion" required></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button class="btn btn-danger" (click)="display =!display"><i class="pi pi-times"></i> Cancelar</button>
    <button class="btn btn-primary" (click)="agregarSensor()"><i class="pi pi-check"></i> Agregar</button>
  </ng-template>
</p-dialog>
